pyrogram
tgcrypto
ntgcalls>=2.0.6
py-tgcalls>=2.2.8
yt-dlp
ffmpeg-python
aiohttp
httpx[http2]>=0.28.1
motor
python-dotenv
psutil
pydub
pyyaml
requests
wget
gitpython
unidecode
telegraph
yt-dlp
git+https://github.com/CertifiedCoders/youtube-search-python
