pyrogram>=2.0.120
tgcrypto
ntgcalls>=2.0.6
py-tgcalls>=2.2.12
yt-dlp
ffmpeg-python
aiohttp
httpx[http2]>=0.27
motor
python-dotenv
psutil
pydub
pyyaml
requests
wget
gitpython
unidecode
telegraph
git+https://github.com/CertifiedCoders/youtube-search-python
